html, body {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100vh;
    padding: 0 10em;
    background-color: #a699c9;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background-color: #6e5d9c;
    flex-grow:0;
    
}

.content {
    flex-grow: 1;
    background-color: #6e5d9c;
    
}

.footer {
    height: 100px;
    background-color: #6e5d9c;
    flex-grow: 0;
    
}